@model IEnumerable<Dados.Modelo.Pessoa>

@{
    ViewBag.Title = "List";
    Layout = null;
}


<p>
    @Html.ActionLink("Criar Nova Pessoa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
